*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

nav.manu-lateral{
    width: 60px;
    height: 100%;
    background-color:beige;
    padding: 0px 0 40px 1%;
    box-shadow: 3px 0 0 #86df71;
    
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.manu-lateral:hover{
    width: 260px;

}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir span{
    color: #86df71;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a{
    transition: .2s;
}

ul li.item-menu a:hover{
    background-color: #86df71;

}

ul li.item-menu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 2px;
    line-height: 25px;
}

ul li.item-menu .txt-link{
    margin-left: 30px;
    display: block;
}

ul li.item-menu a .icon > i{
    font-size: 24px;
}

/*-------------lado direito------------------*/
.container{
    display: flex;
}