.flash-error {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 5px;
    top: 10px;
    right: 10px;
    border: 2px solid darkred;
    width: 300px;
    height: 65px;
    background: pink;
    animation: fadeOut 8s forwards;
}

.flash-error > i {
    font-size: 20px;
}

@keyframes fadeOut {
    0% { opacity: 1; } /* Opacidade inicial */
    100% { opacity: 0; } /* Opacidade final */
}