body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    font-size: 30px;
}

form {
    width: 50%;
}

form > section {
    display: flex;
    flex-direction: column;
    font-weight: bolder;    
}

.Input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px;
    background: white;
    border: 1px solid black;
}

.Input > input {
    border: none;
    outline: none;
    width: 100%;
    height: 90%;
    font-size: 15px;   
}

.Input > .Error-Sign {
    display: none;
    position: absolute;
    color: red;
    right: -35px;
}

.bx.show {
    color: blue;
}
 
button {
    width: 50px;
    height: 30px;
}

i {
    font-size: 20px;
}

.Error-Message {
    font-weight: 100;
    font-size: 12px;
    color: red;
}

.flash {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 5px;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 65px;
}

.flash.error {
    background: pink;
    border: 2px solid darkred;
    animation: fadeOut 8s forwards;
}

.flash.sucess  {
    background: lightcyan;
    border: 2px solid green;
}

i:hover {
    cursor: pointer;
}

@keyframes fadeOut {
    0% { opacity: 1; } /* Opacidade inicial */
    100% { opacity: 0; } /* Opacidade final */
}

