*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdfdf;
}

a{
    text-decoration: none;
}

 .btn-expandir img{
    width: 35px;
    border-radius: 50%;
    padding: 0px 6 0px 1%;

}
/* ------------Barra Superior----------------------- */

.cima .titulo{
    display: flex;
    margin: 20px;

   
}

.cima .titulo span{
    font-size: 30px;
    color: #6ec75a;

}


.cima {
    background-color: white;
    height: 70px;
    display: flex;

}

.cima .search{
    display: flex;
    align-items: center;
    border: 1px solid;
    background-color: #86df71;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b4b;
}





/* ------------------------------ */

#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: white;
    font-size: 20px;
}

::-webkit-input-placeholder{
        color: white;

}

.search span{
    font-size: 25px;
    line-height: 25px;
    color: white;

}

/* ---------------User----------------------- */

.cima .user{
    margin-left: auto;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
    padding: 2px 5px;
    height: 35px;
    width: 205px;
    margin: 10px;
}



.cima .user span{
    font-size: 20px;
    padding: 3px 3px ;
}



.cima .user img{
    width: 35px;
    border-radius: 50%;
    line-height: 25px;
    margin-top: 4px;

}

.cima .user .dropdown-menu{
    display: none;
    flex-direction: column;
    font-size: 12px;
    margin-top: 160px;
   
    z-index: 1;
    margin-left: 30px;
   
}



.cima .user .dropdown-menu .opcoes a{
    display: flex;
    color: black;
    font-size: 17px;
    margin: 0px;
    background-color: white;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.cima .user:hover .dropdown-menu{

    display: flex;

}

.cima .user .dropdown-menu a:hover{
    background-color:#68b856;
    color: white;
}





/* ------------------------------------------------- */

nav{
    width: 265px;
    height: 100%;
    background-color:#dfdfdf;
    box-shadow: 3px 0 0 #86df71;
    padding: 0px 0 40px 1%;

    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 2px;
    line-height: 25px;
}

nav .logo span{
    color: #68b856;
    font-size: 40px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

nav i{
    color: #86df71;
    font-size: 24px;
    cursor: pointer;
}
nav .color:hover i{
    color: white;

}


nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 2px;
    line-height: 25px;
}

nav .txt-link{
    margin-left: 30px;
    display: block;
}

nav a .icon > i{
    font-size: 24px;
}

nav .color:hover {
    background-color: #86df71;
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;

}



/* ---lado direito---- */

.container{
    display: flex;
    margin-left: 265px;


}
.main{

    transition: margin-left 0.5s;
    width: 80%;
    height: 100vh;

}

.main .top{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    /* background-color: blueviolet; */

}

.main .top .titulo-top span{
    font-size: 20px;
    color: rgb(82, 82, 82);

}


.main .top .saldo{
    display: flex;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.main .top .money{
    color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
}

.main .top .money i{
    
    font-size: 30px;
    margin-top: 10px;
}


.main .top i{
    font-size: 25px;
    line-height: 25px;
}

/* ---------------half--------------------- */

.main .obs{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    color: white;
    width: 100%;
}

.main .obs .pesquisa{
    background-color: #68b856;
    width: 90px;
    height: 50px;
    border-radius: 20px;
}

.main .obs .pesquisa span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-top: 9px;

}

/*-------------------*/

.main .obs .glob{
    background-color: #68b856;
    width: 180px;
    height: 50px;
    border-radius: 20px;

}

.main .obs .glob span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 10px;

}

/*-------------------*/

.main .extratos{
    background-color: white;
    width: 100%;
    height: 50vh;
    margin: 40px;


}

.main .extratos .pago1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px;

    
}

/*resultados extratos */

.main .extratos .pago1 .icone{
    background-color: #68b856;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 25px;

}

.main .extratos .pago1 .icone i{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.main .extratos .pago1 .global span{
    color: #252525;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.main .extratos  .line{

    background: #68b856;
    width: 80%;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 40px;

}


