*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdfdf;
}

a{
    text-decoration: none;
}

 .btn-expandir img{
    width: 35px;
    border-radius: 50%;
    padding: 0px 6 0px 1%;

}
/* ------------Barra Superior----------------------- */

.cima .titulo{
    display: flex;
    margin: 20px;

   
}

.cima .titulo span{
    font-size: 30px;
    color: #6ec75a;

}


.cima {
    background-color: white;
    height: 70px;
    display: flex;

}

.cima .search{
    display: flex;
    align-items: center;
    border: 1px solid;
    background-color: #86df71;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b4b;
}

#searchInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    color: white;
    font-size: 20px;
}

::-webkit-input-placeholder{
        color: white;

}

.search span{
    font-size: 25px;
    line-height: 25px;
    color: white;

}

/* ---------------User----------------------- */

.cima .user{
    margin-left: auto;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
    padding: 2px 5px;
    height: 35px;
    width: 205px;
    margin: 10px;


}

.cima .user span{
    font-size: 20px;
    padding: 3px 3px ;
}



.cima .user img{
    width: 35px;
    border-radius: 50%;
    line-height: 25px;
    margin-top: 4px;

}



/* ------------------------------------------------- */

nav{
    width: 50px;
    height: 100%;
    background-color:#dfdfdf;
    box-shadow: 3px 0 0 #86df71;
    padding: 0px 0 40px 1%;

    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 2px;
    line-height: 25px;
}

nav .logo span{
    color: #68b856;
    font-size: 40px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

nav i{
    color: #86df71;
    font-size: 24px;
    cursor: pointer;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 2px;
    line-height: 25px;
}

nav .txt-link{
    margin-left: 30px;
    display: block;
}

nav a .icon > i{
    font-size: 24px;
}

nav .color:hover {
    background-color: #86df71;
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;

}

.nav .icon:hover {
    color: #ffffff;

}


/* ---lado direito---- */

.container{
    display: flex;

}
.main{

    transition: margin-left 0.5s;
    width: 80%;
    height: 100vh;

}

.main .top{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    /* background-color: blueviolet; */

}

.main .top .titulo-top span{
    font-size: 20px;
    color: rgb(82, 82, 82);

}


.main .top .saldo{
    display: flex;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.main .top .money{
    color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
}

.main .top .money i{
    
    font-size: 30px;
    margin-top: 10px;
}


.main .top i{
    font-size: 25px;
    line-height: 25px;
}

/* ---------------half--------------------- */

.savings{
    display: flex;
    width: 200px;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    background: #86df71;
    margin-left: 60px;
    margin-bottom: 30px;

}

.savings .capix{
    margin-top: 20px;
}

.savings img{
    width: 200px;
    height: 120px;
    z-index: 0;


}

.savings .description h1 {
    font-size: 20px;
    color: white;
}

.savings .description span {
    font-size: 15px;
    color: white;
}


.savings .description {
    margin-bottom: 30px;
        
    margin-left: 20px;
}

/* -------------------------------- */
.meio{
    display: flex;
}

.bottom_bx {
   
    margin-left: 40px;
    display: flex;
    background: #86df71;
    width: 520px;
    height: 180px;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
    
}

.bottom_bx .meio{
    display: flex;
}

.bottom_bx .cartao  .info{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 10px 30px ;
    color: white;

}

.bottom_bx .cartao .info h1{
    font-weight: 500;

}

.bottom_bx .cartao .info span{

    margin: 5px;
    font-size:large;
    font-weight: 50;
    
}

.bottom_bx .cartao .info .sub1{
    font-size:small;
    font-size: 10px;
}

.bottom_bx .cartao .info .botao{
background-color: white;
width: 130px;
height: 30px;
display: flex;
color: #68b856;
border-radius: 5px;
margin: 5px ;
}

.bottom_bx .cartao .info .botao span{

font-size: 17px;
align-items: center;

}

.bottom_bx .ilustracao img{
    width: 170px;
    height: 150px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin-right: 20px;
    margin-top: 15px;
}


.linha{
    box-shadow: 40px 0 0 #86df71;
    width: 50px;
    height: 100vh;
    box-shadow: 3px 0 0 #86df71;
    padding: 0px 0 40px 1%;

    

}



/* -------------------------------------------------- */

.main-2{

    transition: margin-left 0.5s;
    /* background-color:brown; */
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    


}

.main-2 .info2{
    display: flex;
    margin: 40px;
    margin-top: 20px;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 80%;
    height: 40px;
    transition: margin-left 0.5s;


}

.main-2 .info2 span{
    line-height: 25px;

}

.main-2 .info2 i{
    font-size: 30px;
}

/*------------------------------*/

.main-2 .transacoes{
    display: flex;
    background-color: white;
    width: 80%;
    height: 400px;
    margin: 40px;
    flex-direction: column;
    border-radius: 10px;

}

.main-2 .transacoes .notificacao{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    /* background-color: aquamarine; */
    width: 95%;
    height: 50px;



}

.main-2 .transacoes .notificacao:hover{

    background-color: #e2e2e2	;
    width: 93%;
    
}

.main-2 .transacoes .marcacao{
    background-color: transparent;
}


.main-2 .transacoes .notificacao:hover .marcacao{
    display: flex;
    width: 1px;
    height: 15px;
    box-shadow: 40px 0 3px #86df71;
    box-shadow: 3px 0 0 #86df71;
    padding: 0px 0 40px 1%;
    line-height: 25px;
    margin-left: 20px;
    transition: 0.5s;
}

.main-2 .transacoes .notificacao:hover .icon{
    color: white;
}

.main-2 .transacoes .notificacao .icon{
    font-size: 50px;
    color:#68b856;
}


.main-2 .transacoes .notificacao .icon2{
    font-size: 52px;
    color: rgb(199, 0, 0);
}

.main-2 .transacoes .notificacao:hover .icon2{
    color: white;
}


.main-2 .transacoes .notificacao .texto
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 10px;

}

.main-2 .transacoes .notificacao .texto .titu span{
    font-weight: bold; 
    font-size: 15px;
    color: #68b856;

}


.main-2 .transacoes .notificacao .seta{
    display: flex;
    background-color: #68b856;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;
    
}

.main-2 .transacoes .notificacao .seta i{
    display: flex;
    font-size: 20px;
    color: aliceblue;
    justify-content: center;

}








