*{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.container{
    display: flex;
    flex-direction: row;
}

.container .parte1{
    width: 50%;
    height: 100vh;
    background: red;
}

.container .parte1 img{
    width: 100%;
    height: 100vh;
}

/* ---------------------Esquerda---------------------------- */

.container .container-parte2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
}

.container-parte2 .cima{
    justify-content: center;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.container-parte2 .txtBase span{
    font-size: 40px;
    color: #86df71;
    margin-top: 20px;
}

.container-parte2 .subTitle span{
    font-size: 20px;
    color: #86df71;
    padding-left: 40px;
}

.container-parte2 .subTitle a{
    text-decoration: none;
    color: #86df71;

}



.container-parte2 .form-box h2{
    font-size: 20px;
    color: #86df71;
    margin: 2px;
    margin-top: 0;
}

.container-parte2 .form-box {
  margin-bottom: 100px;
  

}
.container-parte2 .input-box {
    font: 50px;

}

.container-parte2 .input-box .titulo {
    font-size: 15px;
    color: #ff0000;
    display: flex;
}

.container-parte2 .input-box input {
    width: 200px;
    height: 10px;
    /* background: transparent; */
    background: rgb(210, 210, 210);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    padding: 20px 20px 20px 20px;
    margin-bottom: 5px;
}

/* --------------botao-------------------------- */


.container-parte2 .center-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-parte2 .center-button .bott .btn {
    display: flex;
    align-items: center;
    width: 240px;
    height: 50px;
    background: #77B255;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    justify-content: center;
    justify-items: center;
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
}
.container-parte2 .center-button .bott .btn:hover {
    background: #56823c;
    box-shadow: 5px 5px 5px #86df71;
    transition: 0.5s;


}