@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
    --cinza: #e8e8e8;
    --corDeFundo: #ffffff;
	--corDeFundoAba:#7ed957;
}
section header span{
    cursor: pointer;
}
#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../imgs/win-capivara.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cinza);
    filter: blur(5px);
    z-index: -1;
}

.content {
    position: relative;
    background-color: var(--corDeFundo);
    width: 650px;
    height: 565px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.content header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--corDeFundoAba);
	height: 35px;
	color: white;
  	font-weight: 400;
	font-size: 20px;
}
.content .form{
	justify-content: center;
	font-size: 20px;
	width: 100%;
	padding: 15px;
}
.content .form div{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 5px;
}

.content .form div input{
	border: 1px solid gray;
	width: 340px;
    height: 25px;
}
.content .form .tranferir .fundoCinza{
    background-color: var(--cinza);
}
.content .form .titulo{
	font-size: 22px;
}
.content .form .tranferir div input{
    width: 200px;
}
.content .btn {
    padding: 10px;
}
.content .btn button{
    width:120px;
    height:40px;
    border-radius: 6px;
    cursor: pointer;
}
.content .btn .btn-enviar{
    border: none;
    background-color: var(--corDeFundoAba);
    color: white;
    font-weight: bold;
}
.content .btn .btn-cancelar{
    border: 1px solid grey;
    background-color: white;
    font-weight: bold;
}